<ion-view view-title="List">
    <ion-content class="padding">
        <div class="row">
          <div class="col col-25"><img class="detail-img" ng-src="{{location.img}}"></div>
          <div class="col"><h1>{{location.title}}</h1><h4>{{location.hours}}</h4></div>
        </div>

        <a class="button icon-left ion-map button-block button-positive">
          {{location.address}}
        </a>

        <a href="tel:{{location.phonenumber}}" class="button icon-left ion-ios-telephone button-block button-positive">
          {{location.phonenumber}}
        </a>

        <h3>Drinks:</h3>
        <p>{{location.drink_deals}}</p>

        <h3>Food:</h3>
        <p>{{location.food_deals}}</p>

        <a class="button button-block button-positive">
          Reviews
          <i ng-repeat="i in location.stars track by $index" class="icon ion-ios-star"></i>
        </a>
    </ion-content>
</ion-view>
