<ion-view view-title="List">
      <ion-content class="padding">
        <!-- our list and list items -->
        <ion-list>
          <ion-item ng-repeat="location in locations track by $index" ui-sref="tab.location-detail({locationId: $index})"
            class="item-thumbnail-left">
            <img ng-src="{{location.img}}">

            <div class="row">
              <h2 class="col title">{{location.title}}</h2>
              <h2 class="col distance">{{location.distance}}</h2>
            </div>

            <div class="row">
              <div class="col hours">{{location.hours}}</div>
              <div class="col">
                <i class="icon ion-ios-pint ng-hide consumableicon" ng-show="location.drink_deals"></i>
                <i class="icon ion-pizza ng-hide consumableicon" ng-show="location.food_deals"></i>
              </div>

            </div>

          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>
