/* Empty. Add your own CSS if you like */
h2.title{
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
}

h2.distance {
  font-size: 16pt;
  text-align: right;
  margin-right: 5px;
}

div.hours {
  font-size: 14pt;
  font-weight: normal;
  text-align: left;
  margin-top: 5px;
}

i.consumableicon {
  font-size: 14pt;
  align-items: right;
  padding: 5px;
  margin-top: 5px;
}
